<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>frame_000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,0},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,0},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1206,0},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1608,0},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{2010,0},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{2412,0},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{2814,0},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{3216,0},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{3618,0},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,354},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,354},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,354},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{1206,354},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{1608,354},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{2010,354},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{2412,354},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{2814,354},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{3216,354},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{3618,354},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,708},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,708},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,708},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{1206,708},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{1608,708},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{2010,708},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{2412,708},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{2814,708},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{3216,708},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
      <key>frame_029.png</key>
      <dict>
        <key>frame</key>
        <string>{{3618,708},{402,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{402,354}}</string>
        <key>sourceSize</key>
        <string>{402,354}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>260730_1_20260730_150817_sprite.png</string>
      <key>size</key>
      <string>{4020,1062}</string>
      <key>textureFileName</key>
      <string>260730_1_20260730_150817_sprite.png</string>
    </dict>
  </dict>
</plist>