<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>frame_000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,0},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1088,0},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1632,0},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{2176,0},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{2720,0},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{3264,0},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{3808,0},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{4352,0},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{4896,0},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{5440,0},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{5984,0},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{6528,0},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{7072,0},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{7616,0},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,614},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,614},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{1088,614},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{1632,614},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{2176,614},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{2720,614},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{3264,614},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{3808,614},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{4352,614},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{4896,614},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{5440,614},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{5984,614},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{6528,614},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{7072,614},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_029.png</key>
      <dict>
        <key>frame</key>
        <string>{{7616,614},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_030.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1228},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_031.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,1228},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_032.png</key>
      <dict>
        <key>frame</key>
        <string>{{1088,1228},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_033.png</key>
      <dict>
        <key>frame</key>
        <string>{{1632,1228},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_034.png</key>
      <dict>
        <key>frame</key>
        <string>{{2176,1228},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_035.png</key>
      <dict>
        <key>frame</key>
        <string>{{2720,1228},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_036.png</key>
      <dict>
        <key>frame</key>
        <string>{{3264,1228},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_037.png</key>
      <dict>
        <key>frame</key>
        <string>{{3808,1228},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_038.png</key>
      <dict>
        <key>frame</key>
        <string>{{4352,1228},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_039.png</key>
      <dict>
        <key>frame</key>
        <string>{{4896,1228},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_040.png</key>
      <dict>
        <key>frame</key>
        <string>{{5440,1228},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_041.png</key>
      <dict>
        <key>frame</key>
        <string>{{5984,1228},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_042.png</key>
      <dict>
        <key>frame</key>
        <string>{{6528,1228},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_043.png</key>
      <dict>
        <key>frame</key>
        <string>{{7072,1228},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_044.png</key>
      <dict>
        <key>frame</key>
        <string>{{7616,1228},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_045.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1842},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_046.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,1842},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_047.png</key>
      <dict>
        <key>frame</key>
        <string>{{1088,1842},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_048.png</key>
      <dict>
        <key>frame</key>
        <string>{{1632,1842},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_049.png</key>
      <dict>
        <key>frame</key>
        <string>{{2176,1842},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_050.png</key>
      <dict>
        <key>frame</key>
        <string>{{2720,1842},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_051.png</key>
      <dict>
        <key>frame</key>
        <string>{{3264,1842},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_052.png</key>
      <dict>
        <key>frame</key>
        <string>{{3808,1842},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_053.png</key>
      <dict>
        <key>frame</key>
        <string>{{4352,1842},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_054.png</key>
      <dict>
        <key>frame</key>
        <string>{{4896,1842},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_055.png</key>
      <dict>
        <key>frame</key>
        <string>{{5440,1842},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_056.png</key>
      <dict>
        <key>frame</key>
        <string>{{5984,1842},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_057.png</key>
      <dict>
        <key>frame</key>
        <string>{{6528,1842},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_058.png</key>
      <dict>
        <key>frame</key>
        <string>{{7072,1842},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
      <key>frame_059.png</key>
      <dict>
        <key>frame</key>
        <string>{{7616,1842},{544,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{544,614}}</string>
        <key>sourceSize</key>
        <string>{544,614}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>名称未設定_20260731_005541_sprite.png</string>
      <key>size</key>
      <string>{8160,2456}</string>
      <key>textureFileName</key>
      <string>名称未設定_20260731_005541_sprite.png</string>
    </dict>
  </dict>
</plist>