<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>frame_000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,0},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1638,0},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{2457,0},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{3276,0},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{4095,0},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,599},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,599},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1638,599},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{2457,599},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{3276,599},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{4095,599},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1198},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,1198},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{1638,1198},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{2457,1198},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{3276,1198},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{4095,1198},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1797},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,1797},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{1638,1797},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{2457,1797},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{3276,1797},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{4095,1797},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2396},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,2396},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{1638,2396},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{2457,2396},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{3276,2396},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_029.png</key>
      <dict>
        <key>frame</key>
        <string>{{4095,2396},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
      <key>frame_030.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2995},{819,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{819,599}}</string>
        <key>sourceSize</key>
        <string>{819,599}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>Pasted_Image_1785379457613_20260730_114833_sprite.png</string>
      <key>size</key>
      <string>{4914,3594}</string>
      <key>textureFileName</key>
      <string>Pasted_Image_1785379457613_20260730_114833_sprite.png</string>
    </dict>
  </dict>
</plist>